.privacy-policy-container {
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

h1.title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  margin-top: 10px;
}

p,
ul {
  font-size: 16px;
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

a {
  color: #fa8900;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .privacy-policy-container {
    padding: 15px;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  h1.title {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  p,
  ul {
    font-size: 14px;
  }
}

.light {
  background: white;
  color: black;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

/* Dark Theme */
.dark {
  background-color: #23243c;
  color: white;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}
