.footer {
  background-color: #675cd6; /* Fixed Dark Purple */
  color: white;
  border-radius: 20px 20px 0 0;
}

.footer a {
  color: white;
  transition: opacity 0.3s ease-in-out;
}

.footer a:hover {
  opacity: 0.7;
}

.footer .btn-light {
  background-color: #675cd6;
  color: wheat;
  font-weight: bold;
}

.footer .btn-light:hover {
  background-color: grey;
}
